<nav>
<div>
    <ul>
        <li><a href="{{ path('app_home') }}">Home</a></li>
        <li><a href="{{ path('app_channel_index') }}">Canaux</a></li>
    </ul>
    </div>
    <div class="user_info">
    <ul>
        {% if app.user.username is defined %}
        <li class="username">Connecté : {{ app.user.username }} / <a href="{{ path('app_logout') }}">Logout</a></li>
        {% else %}
        <li><a href="{{ path('app_login') }}">Se connecter</a></li>
        {% endif %}
    </ul>
    </div>
</nav>