{% extends 'base.html.twig' %}

{% block title %}Channel index{% endblock %}

{% block body %}
    <h1>Channel index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>CreatedAt</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for channel in channels %}
            <tr>
                <td>{{ channel.name }}</td>
                <td>{{ channel.description }}</td>
                <td>{{ channel.createdAt ? channel.createdAt | format_datetime('short', 'none', locale='fr') : '' }}</td>
                <td>
                    <a href="{{ path('app_channel_show', {'id': channel.id}) }}">show</a>
                    <a href="{{ path('app_channel_edit', {'id': channel.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('app_channel_new') }}"><button class="btn btn-success mt-3">Create new channel</button></a>
{% endblock %}
