{% extends 'base.html.twig' %}

{% block title %}Channel{% endblock %}

{% block body %}
    <h1>Channel</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom du canal</th>
                <td>{{ channel.name }}</td>
            </tr>
            <tr>
                <th>Date de création</th>
                <td>{{ channel.createdAt ? channel.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_channel_index') }}">Liste des canaux</a>
    <a href="{{ path('app_channel_edit', {'id': channel.id}) }}">Mofidier</a>
    {{ include('channel/_delete_form.html.twig') }}

    <div>
        <h2>Messages</h2>
        <p>Messages du channel {{ channel.name }}</p>
        <ul id="messages">
        {% for message in channel.messages %}
            {% if message.channel.id == channel.id %}
                <li>{{ message.author.username }} - {{ message.content }}</li>
            {% endif %}
        {% endfor %}
          </ul>
    </div>

    <div>
    <form action="">
        <fieldset>
        <legend>Message vers Mercure Hub & Retour en SSE</legend>
        <input type="text" id="dataText">
        <br>
        <small>Envoyer vers mercure hub...</small>
        </fieldset>
        <button id="submitBtn" class="btn btn-success" type="submit">Envoyer</button>
        <button id="submitToBack" class="btn btn-info" type="submit">Envoyer au controller</button>
    </form>
</div>



{% block javascript %}
<script>

// On crée un nouvel objet EventSource, qui va se connecter au hub Mercure
const link = 'https://mercure.simschab.cloud/.well-known/mercure';
const url = new URL(link);
url.searchParams.append('topic', encodeURIComponent("chat/{{ channel.id }}"));
//url.searchParams.append('topic', "test");
//url.searchParams.append('topic', 'montopicfront');
const eventSource = new EventSource(url);
console.log(eventSource);
// On écoute les messages reçus du hub
eventSource.onmessage = e => {
    console.log(e.data);
    // on fait ce qu'on veut avec le message reçu du hub
    const li = document.createElement('li');
    const username = '{{ app.user.username }}';
    li.textContent = e.data + ' - ' + new Date().toLocaleTimeString();
    // ajouter aussi le user qui a envoyé le message
    
    document.getElementById('messages').appendChild(li);
};

// On prépare l'envoi d'un message
const sbmtbtn = document.getElementById('submitBtn');
const submitToBack = document.getElementById('submitToBack');
const dataText = document.getElementById('dataText');
const TOKEN = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJtZXJjdXJlIjp7InB1Ymxpc2giOlsiKiJdLCJzdWJzY3JpYmUiOlsiKiJdfX0.nINXJPMGL7u4vvquYYm3zgMosrqrxTSooTs7R_OJLZA'

// on créer un objet data qui contient le topic et le message

const data = {
    topic: encodeURIComponent("chat/{{ channel.id }}"),
    message: '',
    channel_id: '{{ channel.id }}',
    author: '{{ app.user.username }}',
    author_id: '{{ app.user.id }}'
}

// on soumet le formulaire
sbmtbtn.addEventListener('click', (e) => {
    console.log(dataText.value);
    e.preventDefault();
    // on envoie le message au hub
    fetch('https://mercure.simschab.cloud/.well-known/mercure', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
            'Authorization': 'Bearer ' + `${TOKEN}` // inclure le cookie d'authentification dans l'en-tête Authorization si on ne passe pas par le backend
                                                    // car en front on n'accède pas au token défini dans la configuration du hub dans le backend
        },
        // on encode le message et le topic en JSON dans le corps de la requête sur des clés data et topic
        // en utilisant:  encodeURIComponent(...) on encode les caractères spéciaux si il y en a
        // comme ça on est sur que les valeurs des paramètres sont correctement encodés et envoyés en tant que données de formulaire URL-encodées valides.
        // même si ici c'est pas nécessaire car on envoie pas de caractères spéciaux.
        // infos : https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/encodeURIComponent
        body: `data=${encodeURIComponent(dataText.value)}&topic=${encodeURIComponent(data.topic)}` // envoyer le message et le topic pour le publier sur le hub et le diffuser aux abonnés
    })
    .then(response => response.text())
    .then(data => {
        console.log(data);
        // on vide le champ de saisie
        dataText.value = '';
    })
    .catch(error => console.log(error));
});


// envoir le message au controller Front To Back
submitToBack.addEventListener('click', (e) => {
    e.preventDefault();
    // on met à jour l'objet data avec le message saisi
    data.message = dataText.value;
    // on envoie le message au hub
    fetch('/publish', {
        method: 'POST',
        body: JSON.stringify(data) 
     })
    .then(response => response.text())
    .then(data => {
        console.log(data);
        // on vide le champ de saisie
        dataText.value = '';
    })
    .catch(error => console.log(error));
});

</script>
{% endblock %}

{% endblock %}
